
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover={{photoCover1}}
            cardTitle={{contentTitle1}}
            cardDescription={{cardDescrition1}}
            >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            photoCover={{photoCover2}}
            cardTitle={{contentTitle2}}
            >
        </app-small-card>
        <app-small-card
            id="3"
            photoCover={{photoCover3}}
            cardTitle={{contentTitle3}}
            >
        </app-small-card>
        <app-small-card
            id="4"
            photoCover={{photoCover4}}
            cardTitle={{contentTitle4}}
            >
        </app-small-card>
    </div>
</div>
