section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    
}

.normal {
    background-color: #a6a877;
    border-radius: 1rem;
}

.grass {
    background-color: #77c850;
    border-radius: 1rem;
}

.fire {
    background-color: #ee7f30;
    border-radius: 1rem;
}

.water {
    background-color: #678fee;
    border-radius: 1rem;
}

.electric {
    background-color: #f7cf2e;
    border-radius: 1rem;
}

.ice {
    background-color: #98d5d7;
    border-radius: 1rem;
}

.ground {
    background-color: #dfbf69;
    border-radius: 1rem;
}

.flying {
    background-color: #a98ff0;
    border-radius: 1rem;
}

.poison {
    background-color: #a040a0;
    border-radius: 1rem;
}

.fighting {
    background-color: #bf3029;
    border-radius: 1rem;
}

.psychic {
    background-color: #f65687;
    border-radius: 1rem;
}

.dark {
    background-color: #725847;
    border-radius: 1rem;
}

.rock {
    background-color: #b8a137;
    border-radius: 1rem;
}

.bug {
    background-color: #a8b720;
    border-radius: 1rem;
}

.ghost {
    background-color: #6e5896;
    border-radius: 1rem;
}

.steel {
    background-color: #b9b7cf;
    border-radius: 1rem;
}

.dragon {
    background-color: #6f38f6;
    border-radius: 1rem;
}

.fairy {
    background-color: #f9aec7;
    border-radius: 1rem;
}


.card {
    width: 350px;
    height: 695px;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    margin: auto 1rem;
}

.card-info-name {
    display: flex;
    flex-direction: column;
}

.capitalize{
    text-transform: capitalize;
}

.type-info {
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: row;
}

.type-info li{
    width: auto;
    padding: .1rem .3rem;
    margin-right: 1rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.type-info span {
    padding-right: 1rem;
}

.card img {
    margin: 2rem 1rem 1rem 1rem;
    cursor: pointer;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail img {
    max-width: 100%;
    height: 150px;
}

.button-card {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.pokeInfo {
    background-color: beige;
    width: 350px;
    height: 370px;
    border-radius: 1rem;
    margin: -40px auto 0;
}

.menu-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-info button{
    margin-top: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(191, 187, 187);
}

.datas {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 320px;
}

.row-align {
    display: flex;
    flex-direction: row;
    width: 320px;
    margin-bottom: -0.5rem;
}

.datas span {
    width: 100px;
    color: rgb(191, 187, 187);
}

.datas h5 {
    margin-top: 1px;
}

.division {
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
}

.abilities {
    list-style: none;
}